* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: 600;
  padding: 20px;
}
.container {
  width: 100%;
}
.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}